<%-include("partials/header")%>

    <div class="ui main text container segment">
        <div class="ui huge header center">
            <%= blog.title %>
        </div>
        <div class="ui top attached ">
            <div class="ui container">
                <div class="item">
                    <div class= "ui fluid image">
                        <img src="<%= blog.image %>" alt="Blog Image">
                    </div>
                    <div class="content">
                        <span>
                            <%= blog.created.toDateString() %>
                        </span>
                    </div>
                    <div class="description">
                        <p>
                            <%- blog.body %>
                        </p>
                    </div>
                    <a class="ui orange inverted button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                    <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="ui red inverted button">Delete Blog</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <%-include("partials/footer")%>